#pricing h2 {
  font-size: 30px; }
  #pricing h2 span {
    color: #1ccdca; }
#pricing h4 {
  color: #1ccdca;
  padding-bottom: 40px;
  margin-bottom: 50px; }
#pricing h4#bckgrcolor {
  background-color: #1ccdca;
  color: white; }
#pricing .pacakges {
  margin-top: 50px; }
  #pricing .pacakges .price {
    border: 2px solid #1ccdca;
    border-radius: 50%;
    width: 90px;
    position: absolute;
    left: 38%;
    top: 0;
    background-color: white; }
  #pricing .pacakges h4 {
    border: 1px solid #e4e4e4;
    border-bottom: none;
    padding-top: 70px;
    padding-bottom: 20px;
    margin: 0; }
  #pricing .pacakges h3, #pricing .pacakges h6 {
    color: #1ccdca; }
  #pricing .pacakges p {
    border: 1px solid #e4e4e4;
    padding: 15px 0;
    color: #878787;
    margin: 0;
    border-bottom: none; }
  #pricing .pacakges p.button {
    padding: 40px 0;
    border-bottom: 1px solid #e4e4e4; }
  #pricing .pacakges i {
    margin-right: 10px; }
  #pricing .pacakges .fa-check {
    color: #92C135; }
  #pricing .pacakges .fa-times {
    color: #e74c3c; }
  #pricing .pacakges a {
    background: #fff;
    border: 2px solid #ECE8E7;
    border-radius: 20px;
    font-size: 14px;
    padding: 10px 18px;
    color: #999;
    font-style: italic;
    text-decoration: none; }
  #pricing .pacakges a:hover {
    background: #576162;
    border-color: #576162;
    color: #fff; }
#pricing .pacakges:hover h4 {
  background-color: #1ccdca;
  color: white; }

#firstsector {
  background: #1B2228;
  color: #fff; }
  #firstsector .container {
    padding: 50px 15px; }
    #firstsector .container p {
      color: #aaa;
      font-size: 20px;
      font-weight: 300;
      line-height: 34px; }
    #firstsector .container h3 {
      margin: 20px 0; }

#supercoding {
  background: #f9fafc;
  border-bottom: 1px solid #eaebed;
  border-top: 1px solid #eaebed; }
  #supercoding .container {
    padding: 90px 0; }
    #supercoding .container i {
      color: #1ccdca;
      margin-right: 30px;
      margin-bottom: 40px;
      border: solid 1px #1ccdca;
      border-radius: 50%;
      height: 84px;
      line-height: 84px;
      width: 84px;
      font-size: 30px; }
    #supercoding .container a {
      color: inherit;
      text-decoration: none; }
    #supercoding .container .three {
      overflow: hidden; }
    #supercoding .container .three:hover a {
      color: #1ccdca;
      transition: all 0.4s ease; }
    #supercoding .container .three:hover i {
      background-color: #1ccdca;
      color: white; }
    #supercoding .container h3 {
      font-size: 17px; }
    #supercoding .container p {
      font-size: 14px;
      color: grey; }

#services .container {
  padding: 90px 15px; }
  #services .container h3 {
    font-size: 30px; }
  #services .container img {
    max-width: 100%;
    overflow: hidden; }
  #services .container i {
    color: white;
    background-color: #1ccdca;
    margin-right: 30px;
    margin-bottom: 40px;
    border: solid 1px #1ccdca;
    border-radius: 50%;
    height: 84px;
    line-height: 84px;
    width: 84px;
    font-size: 30px; }
  #services .container .servicesleft {
    margin: 30px 0;
    overflow: hidden; }
  #services .container .servicesleft:hover h4 {
    color: #1ccdca; }

#contactUs {
  background: #f9fafc;
  border-bottom: 1px solid #eaebed;
  border-top: 1px solid #eaebed; }
  #contactUs .container {
    padding-bottom: 90px;
    padding-top: 90px; }
    #contactUs .container h2 {
      font-size: 30px;
      margin-bottom: 40px;
      padding-bottom: 20px; }
    #contactUs .container h3 {
      color: #1ccdca;
      font-size: 24px;
      padding-bottom: 30px;
      padding-top: 30px; }
    #contactUs .container label {
      color: #888;
      line-height: 39px; }
      #contactUs .container label span {
        color: #e74c3c; }
    #contactUs .container button {
      color: white;
      background-color: #1ccdca; }
    #contactUs .container button:hover {
      background-color: darkslategrey; }

#workwithus {
  background: #f9fafc;
  border-bottom: 1px solid #eaebed;
  border-top: 1px solid #eaebed; }
  #workwithus .container {
    padding: 90px 0;
    color: grey; }
    #workwithus .container h3 {
      padding-bottom: 40px;
      color: black; }
    #workwithus .container .tab-content i {
      color: red;
      font-size: 15px; }

#accordion a {
  text-decoration: none; }

.tab-pane img {
  width: 100%; }

#progress .container-fluid .row {
  background-image: url("../images/bg_header4.jpg");
  background-size: cover;
  position: relative; }
  #progress .container-fluid .row #halfblack {
    color: white;
    background-color: #3c464d;
    padding: 80px 50px; }
  #progress .container-fluid .row .progress {
    height: 40px; }
    #progress .container-fluid .row .progress .progress-bar {
      padding: 10px; }
      #progress .container-fluid .row .progress .progress-bar .borderwhite {
        color: grey;
        background-color: white;
        padding: 0 5px; }

#location {
  color: white;
  background-color: #684962; }
  #location h3 {
    margin: 30px; }

#companyinfo {
  background: #191E21; }
  #companyinfo .container {
    padding: 90px 0; }
    #companyinfo .container .firstcol a {
      padding: 15px;
      text-decoration: none;
      background-color: black;
      color: white;
      font-style: italic; }
    #companyinfo .container .firstcol a:hover {
      color: #1ccdca; }
    #companyinfo .container .firstcol h4 {
      padding-bottom: 20px; }
    #companyinfo .container .firstcol p {
      padding-bottom: 20px;
      padding-top: 20px; }
    #companyinfo .container .firstcol .input-group button {
      background-color: #1ccdca;
      color: white; }
    #companyinfo .container .firstcol .withborder {
      border-top: solid 1px grey;
      margin-top: 60px;
      padding-top: 30px; }
    #companyinfo .container .secondcol button {
      border: solid 1px #1ccdca;
      color: #1ccdca;
      background-color: black; }
    #companyinfo .container .secondcol button:hover {
      color: white; }
    #companyinfo .container .secondcol h4 {
      margin-bottom: 35px; }
    #companyinfo .container .secondcol div {
      overflow: hidden;
      margin-bottom: 20px; }
      #companyinfo .container .secondcol div img {
        margin-right: 20px;
        overflow: hidden; }
    #companyinfo .container .therdcol #tags {
      margin: 30px 0;
      overflow: hidden; }
      #companyinfo .container .therdcol #tags a {
        text-decoration: none;
        background-color: black;
        border-radius: 5px;
        color: grey;
        margin: 5px 5px 0 0;
        overflow: hidden;
        float: left;
        padding: 10px; }
      #companyinfo .container .therdcol #tags a:hover {
        color: white;
        border: solid 1px #1ccdca; }
    #companyinfo .container .therdcol #widgets {
      clear: both;
      padding-top: 30px;
      border-top: solid 1px grey; }
      #companyinfo .container .therdcol #widgets a {
        padding: 5px; }
      #companyinfo .container .therdcol #widgets img {
        width: 100%; }
    #companyinfo .container #fourthcol #fourthcol1 div {
      background-color: white;
      padding: 20px 20px 20px 150px;
      margin-bottom: 40px; }
      #companyinfo .container #fourthcol #fourthcol1 div h4 {
        color: grey;
        padding: 0; }
      #companyinfo .container #fourthcol #fourthcol1 div i {
        padding-right: 15px;
        padding-bottom: 15px;
        color: grey; }
      #companyinfo .container #fourthcol #fourthcol1 div h4:hover, #companyinfo .container #fourthcol #fourthcol1 div i:hover {
        color: #1ccdca; }
      #companyinfo .container #fourthcol #fourthcol1 div a {
        text-decoration: none; }
    #companyinfo .container #fourthcol img.pull-left {
      width: 35%;
      overflow: hidden;
      position: absolute;
      top: 10%;
      left: 10%; }
    #companyinfo .container #fourthcol #video {
      clear: both;
      border-top: solid 1px grey;
      padding-top: 30px; }
      #companyinfo .container #fourthcol #video img {
        width: 100%; }
    #companyinfo .container #fourthcol h4 {
      padding-bottom: 20px; }
    #companyinfo .container .posttxt p {
      margin: 0; }
    #companyinfo .container h4 {
      color: white; }
    #companyinfo .container p {
      color: #989898; }
    #companyinfo .container h5 {
      color: lightgrey;
      margin-top: 0; }

footer {
  background-color: black;
  color: grey; }
  footer a {
    color: grey; }
  footer a:hover {
    text-decoration: none;
    color: #1ccdca; }
  footer .container {
    padding: 30px 0; }
    footer .container p span a {
      color: #1ccdca; }

#map {
  width: 100%;
  height: 400px;
  background-color: grey; }

#myNavbar {
  padding: 20px 0; }
  #myNavbar a:hover {
    color: #1ccdca; }
  #myNavbar .shoppingchart div i {
    font-size: 20px;
    color: grey;
    border: solid 1px grey;
    border-radius: 50%;
    padding: 10px;
    overflow: hidden; }
  #myNavbar .shoppingchart i:hover {
    color: #1ccdca; }

/*# sourceMappingURL=style.css.map */
